
.center-text {
  text-align: center;
  margin: auto;
}

.header {
  background-color: lightgray;
  margin-bottom: 8px;
  border: 2px red dashed;
  padding: 2%;
}

.body {
  margin-bottom: 8px;
  border: 2px red dashed;
  padding: 2%;
}

.footer {
  background-color: lightgray;
  border: 2px red dashed;
  padding: 2%;
}
